<ngx-spinner
bdColor="rgba(51,51,51,0.4)"
size="medium"
color="#fff"
type="ball-scale-multiple"
 >
<p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<h2> Absens </h2>

<div class="no-style" style="margin-left: 4px">
	<div class="container">
        
<p> Date today: 27.04.2021 </p>
<p> User id: 1 </p>

</div>

<form class="formwidth" (ngSubmit)="onSubmit()" #myForm="ngForm">
    <table class="fullwidth" cellspacing="0">
        <tr>
            <mat-form-field class="fullwidth">  
                <input matInput placeholder="Date" id="date_abs" [(ngModel)]="absens.date_abs" name="date_abs">
            </mat-form-field>
        </tr>
        <tr>
            <mat-form-field class="fullwidth">
                <input matInput placeholder="Reason" id="resson" [(ngModel)]="absens.resson" name="resson">
            </mat-form-field>
        </tr>
    </table>
    <p>
        <button class="btn btn-primary" type="submit" md-raised-button>Procceed</button>
    </p>
</form>