  mat-sidenav-content {
    height: 100vh;
  }

  .header {
    padding: 5px;
    text-align: center;
    background: #1cc2a1;
    color: white;
    font-size: 15px;
  }


  footer {
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
  }