<ngx-spinner
bdColor="rgba(51,51,51,0.4)"
size="medium"
color="#fff"
type="ball-scale-multiple"
 >
<p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<h2>Set college status</h2>

<div class="no-style" style="margin-left: 4px">
	<div class="container">
        
<p> Date today: 27.04.2021 </p>

<p> User id: 1 </p>

<form class="formwidth" (ngSubmit)="onSubmit()" #myForm="ngForm">
    <table class="fullwidth" cellspacing="0">
        <tr>
        <mat-form-field class="fullwidth">
            <input matInput placeholder="User ID" id="user_id" [(ngModel)]="checkin.user_id" name="user_id">
        </mat-form-field>
        </tr>    
        <tr>
                <mat-form-field class="fullwidth">
                    <input matInput placeholder="Checkin time" id="checkin" [(ngModel)]="checkin.checkin" name="checkin">
                </mat-form-field>
        </tr>
        <tr>
            <mat-form-field class="fullwidth">
                <input matInput placeholder="Checkout time" id="checkout" [(ngModel)]="checkin.checkout" name="checkout">
            </mat-form-field>
        </tr>    
    </table>
    <p>
        <button  type="submit" md-raised-button>Approve</button>
    </p>
</form>



