
 <ngx-spinner
 bdColor="rgba(51,51,51,0.4)"
 size="medium"
 color="#fff"
 type="ball-scale-multiple"
  >
 <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<h2> Flexi status </h2>

<div class="no-style" style="margin-left: 4px">
	<div class="container">
        
<p> Date today: 27.04.2021 </p>
<p> User id: 1 </p>

      <mat-progress-spinner
          class="example-margin"
          [color]="color"
          [mode]="mode"
          [value]="value">
      </mat-progress-spinner>

<div>
    <p>Time(hours) remainmig:{{time_remaining}}</p>
    <p>Worked hours:{{worked_hours}}</p>
</div>

<hr>
<p>Daily information:</p>
<div>
    <table mat-table [dataSource]="dataSource" #elementsForm border="1">
   
        <ng-container matColumnDef="day">
          <th mat-header-cell *matHeaderCellDef> Week day </th>
          <td mat-cell *matCellDef="let element; let index = index"> 
            <input type="day" name="day-{{index}}" [(ngModel)]="element.day"/>
          </td>
        </ng-container>
       <!---->
        <ng-container matColumnDef="from">
          <th mat-header-cell *matHeaderCellDef> From </th>
          <td mat-cell *matCellDef="let element; let index = index"> 
            <input type="text" name="from-{{index}}" [(ngModel)]="element.from"/>
          </td>
        </ng-container>
        
        <ng-container matColumnDef="till">
          <th mat-header-cell *matHeaderCellDef> Till </th>
          <td mat-cell *matCellDef="let element; let index = index"> 
            <input type="text" name="till-{{index}}" [(ngModel)]="element.till"/>
          </td>
        </ng-container>
        
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>  

</div>